<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
<!--提供模板页面统一的footer-->
<div th:fragment="footer">
    <!-- Footer -->
    <div class="footer clearfix">
        <div class="pull-right icons-group">
            <a href="javascript:void(0)"><i class="icon-screen2"></i></a> <a
                href="javascript:void(0)"><i class="icon-balance"></i></a> <a
                href="javascript:void(0)"><i class="icon-cog3"></i></a>
        </div>
    </div>
    <!-- /footer -->
</div>
</html>